<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>page for Login</h1>

    <form method="post">
        <label for="email"> Enter your email</label>
      <input type="Email" name="email" id="email" />
      <br />
      <label for="pass"> Enter your password</label>
      <input type="password" name="password" id="pass" />

      <button type="submit">login</button>
    </form>

    <a href= {{url_for('registor')}}> Registor</a>
  </body>
  <script>

    console.log("hellow")
  </script>
  <style>
    input {
      margin: 20px;
      font-size: large;
      padding: 10px;
    }
    button{
      padding: 0.5rem;
    }
  </style>
</html>
